*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font: 1rem/1.4 Garamond, serif;
}

main{
    margin: 2rem 2vw 4rem;
}

h1{
    text-transform: uppercase;
    font: bold 1.8rem/1.4 'Barlow', sans-serif;
}

button{
    padding: .1rem .4rem;
    border: none; outline: none;
    background-color: rgb(10, 58, 97);
    border-radius: 2px;
}

button a{
    text-decoration: none; color: rgb(204, 227, 245);
    font-family: 'Barlow', sans-serif;
}

footer{
    position: fixed; bottom: 0;
    width: 100%;
    padding: .4rem .8rem;
    color: wheat;
    background: #000;
}

footer span{
    font-family: 'Barlow', sans-serif;
}