@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@font-face {
    font-family: "Think_action";
    src: url('./../resources/pageAssets/thinAction.ttf');
}


/* RESETS */

*{
    box-sizing: border-box;
}

body{
    margin: 0; padding: 0; 
    background: black url("../assets/mainbg.gif") repeat fixed center right/50vw;
    /* font-weight: 500; */
}

main{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.937);
    min-height: 100vh; width: 100%;
    margin: auto;
    color: white; text-align: center;

    padding: 20% 1rem 10rem;
}

main>p+p{
    margin-bottom: 4rem;
}

p{
    font-family: 'Montserrat', Montserrat, sans-serif;
    font-size: 3rem;
    line-height: 1.2;
}


/* CLASSES */
.latxt{
    position: relative;
    font: 1.1em 'Think_action', sans-serif;
    font-weight: bold;
}

.effect{
    font: 1em 'Think_action', sans-serif;
    
    /* displace it */
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    display: inline-block;
    z-index: 2;
    cursor: pointer;

    opacity: 0;
}

.barbottom{
    position: fixed;
    background-image: linear-gradient( rgba(0, 0, 0, 0.087), rgb(11, 11, 11), black);
    height: 20vh; width: 100%; bottom: 0;
}

.thegif{
    display: block;
    position: fixed; bottom: 20%;
    width: 100%;
}

img.la-img{
    display: none;
    width: 20vw;
    border-radius: .1rem;

    position: absolute; right: 2rem; top: 2rem;
    box-shadow:  0 0 1rem #fffff933;
}

@media screen and (min-width: 350px) {
    p{
        font-size: 2.4rem;
    }

    .invite p{
        font-size: 1.1rem;        
    }
}
